{
  "gitHooks": {
    "pre-commit": "lint-staged",
    "commit-msg": "node scripts/verifyCommit.js"
  },
  "lint-staged": {
    "*.js": [
      "prettier --write"
    ],
    "*.ts": [
      "eslint",
      "prettier --parser=typescript --write"
    ],
    "*.html": [
      "prettier --write"
    ]
  }
}